{
    "revoltUser": {
        "email": "email@here.com",
        "password": "your-secure-password"
    },
    "useStatus": true,
    "preStatus": "status that is set before game detects",
    "useAPI": false
}